<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>DeveloperChoice</title>
  </head>
  <body>
    <div class="grid-container">
      <!--HEADER-->
      <header class="row">
        <div>
          <a class="brand" href="index.html">DeveloperChoice</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <!--MAIN-->
      <main>
        <div class="row center">

          <!--CARD:1----------------------------------------------------------------------------------------------------------------------------------------------->
          <div class="card">
            <a href="product.html">
              <!--image size: 680px by 830px-->
              <img class="medium" src="./images/react.jpg" alt="product" />
            </a>

            <div class="card-body">
              <!--PRODUCT NAME-->
              <a href="product.html">
                <h2>React T-Shirt</h2>
              </a>

              <!--PRODUCT RATING-->
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>

              <!--PRODUCT PRICE-->
              <div class="price">₹499</div>
            </div>
          </div>

          <!--CARD:2----------------------------------------------------------------------------------------------------------------------------------------------->
          <div class="card">
            <a href="product.html">
              <!--image size: 680px by 830px-->
              <img class="medium" src="./images/react.jpg" alt="product" />
            </a>

            <div class="card-body">
              <!--PRODUCT NAME-->
              <a href="product.html">
                <h2>React T-Shirt</h2>
              </a>

              <!--PRODUCT RATING-->
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>

              <!--PRODUCT PRICE-->
              <div class="price">₹499</div>
            </div>
          </div>

          <!--CARD:3----------------------------------------------------------------------------------------------------------------------------------------------->
          <div class="card">
            <a href="product.html">
              <!--image size: 680px by 830px-->
              <img class="medium" src="./images/react.jpg" alt="product" />
            </a>

            <div class="card-body">
              <!--PRODUCT NAME-->
              <a href="product.html">
                <h2>React T-Shirt</h2>
              </a>

              <!--PRODUCT RATING-->
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>

              <!--PRODUCT PRICE-->
              <div class="price">₹499</div>
            </div>
          </div>

          <!--CARD:4----------------------------------------------------------------------------------------------------------------------------------------------->
          <div class="card">
            <a href="product.html">
              <!--image size: 680px by 830px-->
              <img class="medium" src="./images/react.jpg" alt="product" />
            </a>

            <div class="card-body">
              <!--PRODUCT NAME-->
              <a href="product.html">
                <h2>React T-Shirt</h2>
              </a>

              <!--PRODUCT RATING-->
              <div class="rating">
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
                <span><i class="fa fa-star"></i></span>
              </div>

              <!--PRODUCT PRICE-->
              <div class="price">₹499</div>
            </div>
          </div>
          <!------------------------------------------------------------------------------------------------------------------------------------------------------->

        </div>
      </main>

      <!--FOOTER-->
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
